{% load static %}
<!doctype html>
<html lang="en-US">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'users/css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'publish/css/new_pet/styles.css' %}" rel="stylesheet">
    <link href="{% static 'publish/css/your_pets/styles.css' %}" rel="stylesheet">
    <link href="{% static 'adoption/css/styles.css' %}" rel="stylesheet">
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 bg-side sidebar">
                    <h2>ADO.PT</h2>
                    <hr>
                    <a class="btn btn-success col-12 items-side-bar" href="/adoption/">Adoption</a>
                    <a class="btn btn-primary col-12 items-side-bar" href="/publish/new_pet/">Publish Pet</a>
                    <a class="btn btn-info col-12 items-side-bar" href="/publish/your_pets/">Your pets</a>
                    <a class="btn btn-warning col-12 items-side-bar" href="/publish/see_request_adoption/">Pet Requests</a>
                    <a class="btn btn-danger col-12 items-side-bar" href="/publish/dashboard/">Dashboard</a>  			        
                    <a href=" {% url 'logout' %}" class="btn btn-danger bottom items-side-bar-logout">Logout</a>           
                </div>

                <div style="padding:60px" class="col-md">

                    <h3 class="font-purple">Number of adoptions by breed.</h3>
                     <div style="width: 60%;">
                        <canvas id="myChart"></canvas>
                    </div>  
                </div>
                
            </div>
        </div>
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script>

            fetch("/publish/api_adoptions_by_breed/",{
                method: 'GET',
            }).then(function(result){
                return result.json()
            }).then(function(data_adoptions){
            
                const data = {
                    labels: data_adoptions['labels'],
                    datasets: [{
                        label: 'Adoptions',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: data_adoptions['qty_adoptions'],
                    }]
                };
            
                const config = {
                    type: 'line',
                    data: data,
                    options: {}
                };
            
                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            
            
            })

    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    </body>
</html>